.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/PiShare.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.pyc
.idea/workspace.xml
*.jpg
*.h264
logs/log.txt
configuration/files/tram.json
configuration/files/wifi.json
configuration/files/telegram.json
configuration/files/mail.json
configuration/files/quote.json